<ion-view view-title="Playlists">
  <ion-nav-buttons side="primary">
      <button class="button" ng-click="toggleTab1()">
        Toggle Tab 1
      </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-side-tabs on-expand="tabExpand(index)" on-collapse="tabCollapse(index)">
    <ion-side-tab class="dark-bg" style="border-radius: 10px;" expand="tab1.expand">
      <ion-side-tab-handle width="40" height="50" toggle="ion-chevron-left ion-chevron-right" class="dark-bg stable" style="border-radius: 10px 0 0 10px"><i class="icon ion-chevron-left"></i></ion-side-tab-handle>
      <div class="list card">
        <div class="item item-divider">Upcoming</div>
        <div class="item item-body item-stable">
          <div>
            You have <b>229</b> meetings on your calendar tomorrow.
          </div>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider">Upcoming</div>
        <div class="item item-body item-stable">
          <div>
            You have <b>21</b> meetings on your calendar tomorrow.
          </div>
        </div>
      </div>
    </ion-side-tab>
    <ion-side-tab class="positive-bg" style="border-radius: 10px;">
      <ion-side-tab-handle width="40" height="50" toggle="ion-chevron-left ion-chevron-right" class="positive-bg" style="border-radius: 10px 0 0 10px"><i class="icon ion-chevron-left"></i></ion-side-tab-handle>
      <div class="list card">
        <div class="item item-divider">Upcoming</div>
        <div class="item item-body item-stable">
          <div>
            You have <b>229</b> meetings on your calendar tomorrow.
          </div>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider">Upcoming</div>
        <div class="item item-body item-stable">
          <div>
            You have <b>21</b> meetings on your calendar tomorrow.
          </div>
        </div>
      </div>
    </ion-side-tab>
    <ion-side-tab class="assertive-bg" style="border-radius: 10px;">
      <ion-side-tab-handle width="40" height="50" toggle="ion-chevron-left ion-chevron-right" class="assertive-bg" style="border-radius: 10px 0 0 10px"><i class="icon ion-chevron-left"></i></ion-side-tab-handle>
      <div class="list card">
        <div class="item item-divider">Upcoming</div>
        <div class="item item-body item-stable">
          <div>
            You have <b>229</b> meetings on your calendar tomorrow.
          </div>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider">Upcoming</div>
        <div class="item item-body item-stable">
          <div>
            You have <b>21</b> meetings on your calendar tomorrow.
          </div>
        </div>
      </div>
    </ion-side-tab>
  </ion-side-tabs>
</ion-view>
