<ion-view view-title="Playlists">
  <ion-content>
    <ion-list>
      <ion-checkbox ng-model="tabs.autocollapse">Autocollapse all tabs</ion-checkbox>
      <a class="item item-icon-left" ng-click="toggleTab('tab1')">
        <i class="icon ion-arrow-swap"></i>
        Toggle Tab 1
      </a>
      <a class="item item-icon-left" ng-click="toggleTab('tab2')">
        <i class="icon ion-arrow-swap"></i>
        Toggle Tab 2
      </a>
      <a class="item item-icon-left" ng-click="toggleTab('tab3')">
        <i class="icon ion-arrow-swap"></i>
        Toggle Tab 3
      </a>
    </ion-list>
  </ion-content>
  <ion-side-tabs on-expand="tabExpand(index)" on-collapse="tabCollapse(index)">
    <ion-side-tab class="dark-bg" style="border-radius: 10px;" expand="tabs.tab1">
      <ion-side-tab-handle width="40" height="50" toggle="ion-chevron-left ion-chevron-right" class="dark-bg stable" style="border-radius: 10px 0 0 10px"><i class="icon ion-chevron-left"></i></ion-side-tab-handle>
      <div class="list card">
        <div class="item item-divider">Upcoming</div>
        <div class="item item-body item-stable">
          <div>
            You have <b>229</b> meetings on your calendar tomorrow.
          </div>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider">Upcoming</div>
        <div class="item item-body item-stable">
          <div>
            You have <b>21</b> meetings on your calendar tomorrow.
          </div>
        </div>
      </div>
    </ion-side-tab>
    <ion-side-tab class="positive-bg" style="border-radius: 10px;" expand="tabs.tab2">
      <ion-side-tab-handle width="40" height="50" toggle="ion-chevron-left ion-chevron-right" class="positive-bg" style="border-radius: 10px 0 0 10px"><i class="icon ion-chevron-left"></i></ion-side-tab-handle>
      <div class="list card">
        <div class="item item-divider">Upcoming</div>
        <div class="item item-body item-stable">
          <div>
            You have <b>229</b> meetings on your calendar tomorrow.
          </div>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider">Upcoming</div>
        <div class="item item-body item-stable">
          <div>
            You have <b>21</b> meetings on your calendar tomorrow.
          </div>
        </div>
      </div>
    </ion-side-tab>
    <ion-side-tab class="assertive-bg" style="border-radius: 10px;" expand="tabs.tab3">
      <ion-side-tab-handle width="40" height="50" toggle="ion-chevron-left ion-chevron-right" class="assertive-bg" style="border-radius: 10px 0 0 10px"><i class="icon ion-chevron-left"></i></ion-side-tab-handle>
      <div class="list card">
        <div class="item item-divider">Upcoming</div>
        <div class="item item-body item-stable">
          <div>
            You have <b>229</b> meetings on your calendar tomorrow.
          </div>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider">Upcoming</div>
        <div class="item item-body item-stable">
          <div>
            You have <b>21</b> meetings on your calendar tomorrow.
          </div>
        </div>
      </div>
    </ion-side-tab>
  </ion-side-tabs>
</ion-view>
