<ion-view view-title="Search">
  <ion-content>
    <h1>Search</h1>
  </ion-content>
  <ion-side-tab class="dark-bg" style="border-radius: 10px;">
    <ion-side-tab-handle width="40" height="50" toggle="ion-chevron-left ion-chevron-right" class="dark-bg stable" style="border-radius: 10px 0 0 10px"><i class="icon ion-chevron-left"></i></ion-side-tab-handle>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body item-stable">
        <div>
          You have <b>229</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body item-stable">
        <div>
          You have <b>21</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-side-tab>
</ion-view>
